<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
<div class="field is-horizontal">
    <div class="field-body">
        <div class="field is-narrow">
            <p class="control">
                <input type="number" name="amount" style="width: 100px;" class="input" placeholder="Amount">
            </p>
        </div>
        <div class="field">
            <p class="control">
                <input type="text" name="description" class="input" placeholder="Description">
            </p>
        </div>
        <div class="field is-narrow">
            <button type="submit" class="button is-primary">Add</button>
        </div>
    </div>
</div>
</form>